.aviso {
	background-color: #0cac0c;
	border: 1px solid #0cac0c;
	border-radius: 10px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
  }

  .aviso_erro{
	background-color: #ff0000;
	border: 1px solid #ff0000;
	border-radius: 10px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
  }
  
  .aviso h4 {
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
  }

  .aviso_erro h4{
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
  }

  #footer {
	position: fixed;
	bottom: 0;
	width: 100%;
  }

  body.dark-mode {
    background-color: #8b8b8b;
    color: #fff;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }

  .footer-dark .color .nav-link{
    color: #fff;
  }
  
  /* Estilos para o botão de dark mode */
  .dark-mode-button {
    cursor: pointer;
  }
